body
{
    background-color: slateblue;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header
{
    margin: 0;
    background-color: white; /*změní se na obrázek*/
}

/*sem vložíme bacground-image a jeho úpravu*/

.nadpis 
{
    font-size: 50px;
    color: slateblue;
    padding-top: 30px;
    padding-left: 180px;
    padding-bottom: 50px;
}

.nadpis h1
{
    padding-bottom: 40px;
}

.tlacitka
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 20px;
}


/*Sjednotil jsem tyto třídy, protože byly téměř stejné*/
.tlacitko_nadpis_1,
.tlacitko_nadpis_2 {
    display: inline-block; /*vytvoření bloku okolo textu*/
    background-color: slateblue;
    color: white;
    padding: 10px 20px; /*mezera od strany boxu*/
    border-radius: 8px;
    text-decoration: none;
    border: 2px solid slateblue;
    transition: all 0.3s ease;

}

/*tady upravuji pouze druhé tlačítko*/
.tlacitko_nadpis_2
{
    background-color: white;
    color: slateblue;
}

.tlacitko_nadpis_1:hover,
.tlacitko_nadpis_2:hover {
    transform: scale(1.05);
}




/*úprava 1. textu*/
.text_1
{
    margin-top: 200px;
    background-color: rgb(166, 187, 180);
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.text_1 h2
{
    font-size: 40px;
    color: slateblue;
}

.text_1 p
{
    font-size: 16px;
    line-height: 1.6;
}

.animate__animated.animate__fadeInUp.animate__zoomIn{
    --animate-duration: 1s;
    --animation-delay: 2s;
}
.animate__animated.animate__fadeIn{
    --animation-timing-function: ;
}




.text_2
{
    margin-top: 100px;
    color: white;
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 50px;
}

.text_2 h2
{
    font-size: 40px;
}

.karty
{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.jedna_karta
{
    flex: 1;
    padding: 30px 15px;
    max-width: 340px;
    height: auto;
    background-color: rgb(249, 244, 235);
    border: 2px solid rgb(249, 244, 235);
    border-radius: 6px;
    color: black;
    font-size: 19px;
    line-height: 1.6;
}

.jedna_karta h3
{
    font-size: 22px;
}

.jedna_karta img
{
    max-height: 60px;
    height: 100%;
    width: auto;
    
}


.dolni
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dolni_karta
{
    text-align: center;
    margin-top: 20px;
    padding: 30px 15px;
    width: 1130px;
    height: auto;
    background-color: rgb(249, 244, 235);
    border: 2px solid rgb(249, 244, 235);
    border-radius: 6px;
    color: black;
    font-size: 19px;
    line-height: 1.6;
}

.dolni_karta h3
{
    font-size: 22px;
}

.dolni_karta img
{
    height: 60px;
    width: 60px;
}
