body
{
    background-color: slateblue;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header
{
    margin: 0;
    background-color: white; /*změní se na obrázek*/
}

/*sem vložíme bacground-image a jeho úpravu*/

.nadpis 
{
    font-size: 50px;
    color: slateblue;
    padding-top: 30px;
    padding-left: 180px;
    padding-bottom: 50px;
}

.nadpis h1
{
    padding-bottom: 40px;
}

.tlacitka
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 20px;
}


/*Sjednotil jsem tyto třídy, protože byly téměř stejné*/
.tlacitko_nadpis_1,
.tlacitko_nadpis_2 {
    display: inline-block; /*vytvoření bloku okolo textu*/
    background-color: slateblue;
    color: white;
    padding: 10px 20px; /*mezera od strany boxu*/
    border-radius: 8px;
    text-decoration: none;
    border: 2px solid slateblue;
    transition: all 0.3s ease;

}

/*tady upravuji pouze druhé tlačítko*/
.tlacitko_nadpis_2
{
    background-color: white;
    color: slateblue;
}

.tlacitko_nadpis_1:hover,
.tlacitko_nadpis_2:hover {
    transform: scale(1.05);
}




/*úprava 1. textu*/
.text_1
{
    margin-top: 200px;
    background-color: rgb(194, 212, 212);
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.text_1 h2
{
    font-size: 40px;
    color: slateblue;
}

.text_1 p
{
    font-size: 16px;
    line-height: 1.6;
}

.animate__animated.animate__fadeInUpMensi{
    --animate-duration: 1s;
    --animation-delay: 2.5s;
}
@keyframes fadeInUpMensi {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0); /*animace začne o x px dál*/
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate__fadeInUpMensi {
  animation-name: fadeInUpMensi;
}
/*
toto nefunguje ale necham to tu kdybych to chtela zprovoznit
.karty div:nth-child(1){
    --animation-delay: 0s;
}

.karty div:nth-child(2){
    --animation-delay: 1s;
}

.karty div:nth-child(3){
    --animation-delay: 2s;
}

.karty div:nth-child(4){
    --animation-delay: 3s;
}
*/
.karta1{
    animation-delay: 0.2s;
}

.karta2{
    animation-delay: 0.4s;
}

.karta3{
    animation-delay: 0.6s;
}

.karta4{
    animation-delay: 0.8s;
}
.text_2
{
    margin-top: 100px;
    color: white;
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 50px;
}

.text_2 h2
{
    font-size: 40px;
}

.karty
{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.jedna_karta
{
    flex: 1;
    padding: 30px 15px;
    max-width: 340px;
    height: auto;
    background-color: rgb(249, 244, 235);
    border: 2px solid rgb(249, 244, 235);
    border-radius: 6px;
    color: black;
    font-size: 19px;
    line-height: 1.6;
}

.jedna_karta h3
{
    font-size: 22px;
}

.jedna_karta img
{
    max-height: 60px;
    height: 100%;
    width: auto;
    
}


.dolni
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dolni_karta
{
    text-align: center;
    margin-top: 20px;
    padding: 30px 15px;
    width: 1130px;
    height: auto;
    background-color: rgb(249, 244, 235);
    border: 2px solid rgb(249, 244, 235);
    border-radius: 6px;
    color: black;
    font-size: 19px;
    line-height: 1.6;
}

.dolni_karta h3
{
    font-size: 22px;
}

.dolni_karta img
{
    height: 60px;
    width: 60px;
}


/*Úprava odrážek*/
.vsechny_odrazky
{
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*2 odrážky vedle sebe*/
    gap: 50px 80px; /*mezery mezi sloupci a řádky*/
}

.odrazka
{
    display: flex;
    align-items: flex-start;
    position: relative;
}


.ctverec
{
    min-width: 34px;
    min-height: 36px;
    background-color: slateblue;
    margin-right: 15px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    font-weight: bold;
    color: white;
}

.text_odrazky h1
{
    margin: 0 0 5px 0;       /* odstraní nadbytečný margin nad/pod nadpisem */
    font-size: 20px;
}

.text_odrazky p
{
    font-size: 16px;
    margin: 0;
    line-height: 1.6;
}



.text_3
{
    background-color: slateblue;
    color: white;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.odsazeni_odrazek
{
    padding-top: 12px;
}

.text_3 h2
{
    font-size: 40px;
}