body /*úprava všeho, nízká priorita*/
{
    margin: 0;
    font-family: Arial, sans-serif; /*písmo v celém souboru, možnost ZMĚNIT*/
    background-color: #efebeb; /*ZMĚNIT*/
    color: black; /*všechen text*/
}

footer
{
    background-color: black;
    text-align: center;
    padding: 20px;
    color: grey;
    font-size: 14px;
}
.nadpis
{
    margin: 0;
    padding: 20px 0;
    text-align: center;
    background-color: blueviolet; /*ZMĚNIT podle potřeb*/
}

.nadpis h1 /*úprava hl. napislu*/
{
    font-size: 80px;
}

.tlacitka /*úprava navigace*/
{
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    /*margin-top: 15px;*/
}

.tlacitka a /*úprava odkazů <a> v navigaci*/
{
    display: inline-block; /*vytvoří box okolo odkazu*/
    padding: 10px 20px; /*mezera odkazu od hrany boxu*/
    background-color: #fff; 
    color: black;
    text-decoration: none; /*odendá to podržení u odkazu*/
    border-radius: 8px; /*zaoblení rohů boxu*/
    font-weight: bold; /*ztučnění textu*/
    transition: background-color 0.3s, color 0.3s, transform 0.3s ease;
}

.tlacitka a:hover /*animace tlačítek/odkazů*/
{
    background-color: blueviolet;
    color: black;
    transform: scale(1.05); /*změna velikosti tlačítka*/
}

.blok /*zarovnání textu a obrázku vedle sebe*/
{
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    gap: 80px;
    padding: 60px;/*POZOR, osazení od kraje stránky upravovat marginem*/
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
}

.text
{
    flex: 3; /*zajistí poměr místa, který zabírá text oproti obrázku*/
    font-size: 20px;
    line-height: 1.4; /*nezera mezi řádky, závislá na velikosti písma*/
}

.text h2
{
    font-size: 40px;
}

.obrazek img /*úprama obrázku ve třídě blok*/
{
    margin-top: 45px;
    flex: 1;
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 10px; /*zaoblení rohů*/
}

/* responsivní chování – mobil */
@media (max-width: 768px) {
    .blok {
        flex-direction: column; 
        padding: 40px 20px;
        gap: 20px;
    }

    .obrazek img {
        max-width: 100%;
    }
}

.tlacitko_info
{
    margin-top: 20px;
}

.tlacitko_info_uprava
{
    padding: 10px 25px;
    background-color: lightgreen;
    color: green;
    border: 2px solid green;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, transform 0.3s ease;
}

.tlacitko_info_uprava:hover
{
    background-color: blueviolet;
    color: black;
    transform: scale(1.55);
}

.karty
{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 25px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 50px;
}

.jedna_karta
{
    padding: 30px 15px;
    max-width: 200px;
    height: auto;
    background-color: rgb(249, 244, 235);
    border: 2px solid rgb(249, 244, 235);
    border-radius: 10px;
}

.jedna_karta h3
{
    font-size: 25px;
}

.jedna_karta p
{
    font-size: 19px;
}

.jedna_karta img
{
    max-height: 70px;
    height: 100%;
    width: auto;
}