body
{
    background-color: slateblue;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header
{
    margin: 0;
    background-color: white; /*změní se na obrázek*/
    font-size: 50px;
    color: slateblue;
    padding-top: 30px;
    padding-left: 180px;
    padding-bottom: 50px;
}

/*sem vložíme bacground-image a jeho úpravu*/

header h1
{
    padding-bottom: 40px;
}

#tlacitka
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 20px;
}

#tlacitko_nadpis_1
{
    display: inline-block; /*vytvoření bloku okolo textu*/
    background-color: slateblue;
    color: white;
    padding: 10px 20px; /*mezera od strany boxu*/
    border-radius: 8px;
    text-decoration: none;
    border: 2px solid slateblue;
    transition: all 0.3s ease;
}

#tlacitko_nadpis_1:hover
{
    transform: scale(1.05);
}

#tlacitko_nadpis_2
{
    display: inline-block; /*vytvoření bloku okolo textu*/
    background-color: white;
    color: slateblue;
    padding: 10px 20px; /*mezera od strany boxu*/
    border: 2px solid slateblue;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
}

#tlacitko_nadpis_2:hover
{
    transform: scale(1.05);
}


/*úprava 1. textu*/
#text_1
{
    margin-top: 200px;
    background-color: rgb(166, 187, 180);
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#text_1 h2
{
    font-size: 40px;
    color: slateblue;
}

#text_1 p
{
    font-size: 16px;
    line-height: 1.6;
}

/* dodělat class na flexbox se jménem "hlavni_temata", dodělat id "3_karty" */
/* dodělat id "karta_1" až "karta_3 */